{% extends 'settings/settings.html' %}

{% block tab_content %}

    <div class="card custom-card">
        <div class="card-header">
            <div class="card-title">Upload Video</div>
            <p>Used to customize and manage all video content</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 p-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex">
                                <div>
                                    <p class="tx-20 font-weight-semibold d-flex mb-0">Upload New Video</p>
                                    <br/>
                                </div>


                            </div>
                        </div>
                    </div>

                    {% include 'settings/sections/forms/create_video.html' %}

                </div>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 p-2">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="d-flex">
                                <div>
                                    <p class="tx-20 font-weight-semibold d-flex mb-0">List Videos</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% include 'settings/sections/forms/list_videos.html' %}

                </div>

            </div>
        </div>
    </div>

{% endblock %}