{% load static %}
<!-- main-header -->
<div class="main-header side-header sticky nav nav-item">
    <div class=" main-container container-fluid">
        <div class="main-header-left ">
            <div class="responsive-logo">
                <a href="home/" class="header-logo">
                    <img src="{% static 'assets/img/brand/logo.png' %}" class="mobile-logo logo-1" alt="logo">
                    <img src="{% static 'assets/img/brand/logo-white.png' %}" class="mobile-logo dark-logo-1"
                         alt="logo">
                </a>
            </div>
            <div class="app-sidebar__toggle" data-bs-toggle="sidebar">
                <a class="open-toggle" href="javascript:void(0);"><i class="header-icon fe fe-align-left"></i></a>
                <a class="close-toggle" href="javascript:void(0);"><i class="header-icon fe fe-x"></i></a>
            </div>
            <div class="logo-horizontal">
                <a href="home/" class="header-logo">
                    <img src="{% static 'assets/img/brand/logo.png' %}" class="mobile-logo logo-1" alt="logo">
                    <img src="{% static 'assets/img/brand/logo-white.png' %}" class="mobile-logo dark-logo-1"
                         alt="logo">
                </a>
            </div>
            {#							<div class="main-header-center ms-4 d-sm-none d-md-none d-lg-block form-group">#}
            {#								<input class="form-control" placeholder="Search..." type="search">#}
            {#								<button class="btn"><i class="fas fa-search"></i></button>#}
            {#							</div>#}
        </div>
        <div class="main-header-right">
            <button class="navbar-toggler navresponsive-toggler d-lg-none ms-auto" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent-4"
                    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon fe fe-more-vertical "></span>
            </button>
            <div class="mb-0 navbar navbar-expand-lg navbar-nav-right responsive-navbar navbar-dark p-0">
                <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                    <ul class="nav nav-item header-icons navbar-nav-right ms-auto">

                        <h5>Total points: {{ user_stats.total_points }} XP</h5>

                        <li class="dropdown main-profile-menu nav nav-item nav-link ps-lg-2">
                            <a class="new nav-link profile-user d-flex" href="" data-bs-toggle="dropdown">
                                {% if user_profile.user_profile_pic != "" %}
                                    <img alt="" src="/{{ user_profile.user_profile_pic }}" class="">
                                {% else %}
                                    <img alt="" src="{% static 'assets/img/faces/6.jpg' %}" class="">

                                {% endif %}
                            </a>
                            <div class="dropdown-menu">
                                <div class="menu-header-content p-3 border-bottom">
                                    <div class="d-flex wd-100p">

                                        <div class="main-img-user">
                                            {% if user_profile.user_profile_pic != "" %}
                                                <img alt="" src="/{{ user_profile.user_profile_pic }}" class="">
                                            {% else %}
                                                <img alt="" src="{% static 'assets/img/faces/6.jpg' %}" class="">
                                            {% endif %}

                                        </div>
                                        <div class="ms-3 my-auto">
                                            <h6 class="tx-15 font-weight-semibold mb-0">{{ request.user }}</h6>
                                            <span class="dropdown-title-text subtext op-6  tx-12">{{ user_profile.first_name }} {{ user_profile.last_name }}</span>
                                        </div>
                                    </div>
                                </div>
                                <a class="dropdown-item" href="/profile/view/"><i class="far fa-user-circle"></i>Profile</a>
                                <a class="dropdown-item" href="/change-password/"><i class="far fa-user-circle"></i>Change
                                    Password</a>

                                <a class="dropdown-item" href="/logout/"><i class="far fa-arrow-alt-circle-left"></i>
                                    Sign Out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /main-header -->